<header>
    <nav>
<a href="home.html">Home</a>
<a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>You Can Reach Me At</h1>
    <p>
        1234 Sesame Street

    </p>
    <div></div>
</main>
<footer>
    <div>Copyright 1986 by me!</div>
    <div>I like pasta</div>
</footer>